*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container .row{
	display:grid;
	grid-template-columns:300px auto 100px;
	align-items:center;
	justify-content:center;
	padding:10px 25px;
	background:white;
	box-shadow:0px 5px 15px rgba(0,0,0,0.5);
}
.container .row .menu-items ul{
	list-style:none;
}
.container .row .menu-items ul li{
	display:inline;
	margin:0px 10px;
	padding:5px 8px;
}
.container .row .menu-items ul li a{
	text-decoration:none;
	font-size:22px;
	font-weight:600;
	color:black;
}
.container .row .menu-items ul li a:hover{
	color:#C8002A;
}
.container .row #bars{
	display:none;
	
}
.container .row .menu-items .cross{
	display:none;
}
@media(max-width:991px){
	.container .row #bars{
		display:block;
	}
.container .row .menu-items .cross{
	position:absolute;
	right:25px;
	display:block;
}
.container .row .menu-items .cross .fa{
	color:white;
	font-size:25px;
	cursor:pointer;
	
}
.container .row .menu-items .cross .fa:hover{
	color:#C8002A;
}	
	.container .row{
	justify-content:space-between;
	grid-template-columns:auto auto;
}
.container .row #bars .fa{
	font-size:30px;
	color:black;
	cursor:pointer;
	
}
.container .row #bars .fa:hover{
	color:#C8002A;
}
.container .row .menu-items{
left:-500px;
width:350px;
height:100%;
transition:0.5s;
}
.container .row .menu-items.active{
	left:0;
	transition:0.5s;
}
.container .row .menu-items{
	background:black;
	position:absolute;
	top:100px;
	padding:20px 30px;
}
.container .row .menu-items ul li{
	display:block;
	margin:10px 0px;
}
.container .row .menu-items ul li a{
	color:white;
}
.container .row .menu-items ul li .btn{
	background:blue;
	padding:10px 15px;
	border-radius:25px;
}
}
.online_container{
	width:100%;
	padding:50px 100px;
}
.online_container .row{
	display:grid;
	grid-template-columns:repeat(2,auto);
	
	
}
.online_container img{
	width:500px;
	height:400px;
	
}
.online_container .cal h1{
	font-size:26px;
}
.online_container .cal h2{
	font-size:40px;
	margin-top:20px;
}
.online_container .cal p{
	margin-top:20px;
	text-align:justify;
}
.online_container .cal a{
  text-decoration:none;
  background:black;
  color:white;
  padding:10px 15px;
  display:block;
  margin-top:20px;
  width:127px;
  font-size:20px;
}  
@media(max-width:991px){
	.online_container .row{
		display:flex;
		justify-content:center;
		flex-wrap:wrap;
	}
}
.box_container{
	width:100%;
	padding:50px 100px;
	background:#F6F6F6;
}
.box_container .row{
	display:flex;
	justify-content:center;
	
}
.box_container .row .box{
	width:400px;
	height:150px;
	border:1px solid #37474F;
	margin:20px;
	background:white;
}
.box_container .row .box .btn{
	font-size:30px;
	text-decoration:none;
	color:black;
	font-weight:bold;
	display:block;
	margin-top:20px;
	padding:0 20px;
	
}
.box_container .row .box i{
	padding:10px;
	width:50px;
	height:50px;
	border-radius:50%;
	background:black;
	color:white;
	line-height:20px;
	margin:15px;
}

	
.box_container .row .box .logo{
	font-size:30px;
	text-decoration:none;
	color:black;
	font-weight:bold;
	display:block;
	margin-top:20px;
	padding:0 20px;
}
.box_container .row .box .login{
	
	font-size:30px;
	text-decoration:none;
	color:black;
	font-weight:bold;
	display:block;
	margin-top:20px;
	padding:0 20px;
}
.box_container .row .box .bottom{
	font-size:30px;
	text-decoration:none;
	color:black;
	font-weight:bold;
	display:block;
	margin-top:20px;
	padding:0 20px;
}
@media(max-width:991px){
	.box_container .row{
		display:flex;
		justify-content:center;
		flex-wrap:wrap;
	}
}
.top_container{
	width:100%;
	padding:50px 100px;
	margin-top:30px;
}
.top_container h1{
	text-align:center;
	font-size:30px;
	font-weight:bold;
}
.top_container .row{
	display:flex;
	justify-content:center;
	
	text-align:center;
}
.top_container .row .box{
	width:400px;
	height:300px;
	margin:20px;
	border-radius:4px;
	border:4px solid black;
	box-shadow:0px 3px 15px rgba(0,0,0,0.5);
}
.top_container .row .box i{
    font-size:35px;
    font-weight:bold;
    width:90px;
    height:90px;
    background:#C8002A;
    border:1px solid black;
    border-radius:50%;
	line-height:90px;
	margin-top:15px;
}
.top_container .row .box i:hover{
	margin-top:40px;
}
.top_container .row .box h2{
    font-size:25px;
     margin-top:10px;
}
.top_container .row .box p{
    font-size:20px;
    margin-top:10px;
}

@media(max-width:991px){
    .top_container .row{
     display:flex;
     justify-content:center;
     flex-wrap:wrap;
	 text-align:center;
	}
}
.course_container{
    width:100%;
     padding:50px 100px;
      background:#F6F6F6;
}
.course_container h1{
	text-align:center;
}
.course_container h2{
	text-align:center;
	margin-top:10px;
	font-size:40px;
}
.course_container .row{
	display:flex;
	justify-content:center;
	text-align:center;
}
.course_container .row .box{
	width:400px;
	height:400px;
	border:1px solid black;
	box-shadow:0px 3px 15px rgba(0,0,0,0.5);
	margin:20px;
	margin-top:15px;

}
.course_container .row .box:hover{
	background:black;
	color:white;
	font-size:25px;
	
}
@media(max-width:991px){
	.course_container .row{
		display:flex;
		justify-content:space-between;
		text-align:center;
		flex-wrap:wrap;
	}
}
.plan_container{
	width:100%;
	padding:50px 100px;
	background:#F6F6F6;
}
.plan_container h1{
	text-align:center;
}
.plan_container h2{
	text-align:center;
	font-size:25px;
	margin-top:15px;
}
.plan_container .row{
	display:flex;
	justify-content:center;
	text-align:center;
}
.plan_container .row .box{
	width:400px;
	height:400px;
	border:1px solid black;
	margin:20px;
	box-shadow:0px 3px 15px rgba(0,0,0,0.5);
	position:relative;
	
}
.plan_container .row .box h3{
	margin-top:-290px;
	font-size:30px;
}
.plan_container .row .box h4{
	position:absolute;
	bottom:35px;
	font-size:30px;
	text-align:center;
	padding-left:110px;
}
@media(max-width:991px){
    .plan_container .row{
		display:flex;
		justify-content:center;
		flex-wrap:wrap;
		text-align:center;
	}
.plan_container .row .box h3{
	margin-top:-160px;
}
.plan_container .row .box h4{
	padding-left:40px;
}
}
.contact_container{
	width:100%;
	padding:50px 100px;
}
.contact_container h1{
	text-align:center;
}
.contact_container h2{
	text-align:center;
	margin-top:10px;
}
.contact_container .row{
	display:flex;
	justify-content:center;
	align-items:center;
	
}
.contact_container .row a{
	font-size:25px;
	color:black;
	text-decoration:none;
	display:block;
	margin-top:15px;
}
.contact_container .row i{
	color:white;
	background:black;
	width:50px;
	height:50px;
	
	
	border-radius:50%;
	font-size:25px;
	padding:15px 15px;
	margin:10px;
}
.contact_container .row .cal form{
	width:400px;
	padding:40px;
}
.contact_container .row .cal input{
	width:100%;
	height:45px;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	background:#F6F6F6;
	border-radius:4px;
	border:1px solid black;
}
.contact_container .row .cal textarea{
	width:100%;
	height:70px;
	background:#F6F6F6;
}
.contact_container .row .btn{
	display:block;
	text-decoration:none;
	background:#000000;
	color:white;
	width:128px;
	font-size:17px;
	padding:10px 15px;
	
}
@media(max-width:991px){
	.contact_container .row{
		display:flex;
		justify-content:center;
		align-items:center;
		flex-wrap:wrap;
}
}
.what_container{
	width:100%;
	padding:50px 100px;
	background:#F6F6F6;
}
.what_container h1{
	text-align:center;
	font-size:25px;
}
.what_container h2{
	text-align:center;
	font-size:30px;
	font-weight:bold;
}
.what_container .row{
	display:flex;
	justify-content:center;
	text-align:center;
}
.what_container .row .box{
	width:400px;
	height:500px;
	margin:20px;
	margin-top:25px;
	box-shadow:0px 3px 15px rgba(0,0,0,0.5);
	border:1px solid black;
}
.what_container .row .box img{
	width:200px;
	height:200px;
	border-radius:50%;
	margin-top:20px;
}
.what_container .row .box h3{
	font-size:30px;
	margin-top:10px;
}
.what_container .row .box p{
	font-size:20px;
	margin-top:10px;
}
.what_container .row .box i{
	color:#DE002F;
	margin-top:4px;
	font-size:20px;
	padding:10px 3px;
}
.what_container .row .box i:hover{
	color:black;
}
@media(max-width:991px){
	.what_container .row{
		display:flex;
		justify-content:center;
		text-align:center;
		flex-wrap:wrap;
	}
}
.blog_container{
     width:100%;
     padding:50px 100px;
     background:url(images.jpg);
	 background-position:center;
	 background-size:cover;
	 
}
.blog_container h1{
      text-align:center;
      font-size:30px;
}
.blog_container h2{
      text-align:center;
      font-size:40px;
	  margin-top:10px;
}
.blog_container .row{
      display:flex;
       justify-content:center;
       text-align:center;
}
.blog_container .row .box{
        width:400px;
        height:500px;
        box-shadow:0px 3px 15px rgba(0,0,0,0.5);
        margin-top:20px;
        margin:20px;
        border:1px solid black;
}
.blog_container .row .box img{
	width:200px;
	height:200px;
	margin-top:15px;
}
.blog_container .row .box img:hover{
	margin-top:30px;
}
.blog_container .row .box h3{
        font-size:30px;
        margin-top:10px;
}
.blog_container .row .box p{
        font-size:15px;
        margin-top:20px;
}
.blog_container .row .box .btn{
        display:block;
        width:128px;
        padding:10px 15px;
        background:black;
        color:white;
        border-radius:4px;
		margin-top:20px;
		text-align:center;
		margin:10px;
		text-decoration:none;
		font-size:20px;
}
.blog_container .row .box .logo{
	   display:block;
	   width:128px;
	   padding:10px 15px;
	   background:#E11A44;
	   color:white;
	   text-decoration:none;
	   margin-top:20px;
	   margin:10px;
	   border-radius:4px;
	   font-size:20px;
}
.blog_container .row .box .login{
       display:block;
       width:128px;
       padding:10px 15px;
       background:blue;
       color:white;
       text-decoration:none;
       margin-top:20px;
       margin:10px;
       border-radius:4px;
       font-size:20px;
}
@media(max-width:991px){
   .blog_container .row{
      display:flex;
      justify-content:center;
      text-align:center;
      flex-wrap:wrap;
   }
}   


	

	
		
		
	